downloads/app-preview.apk filter=lfs diff=lfs merge=lfs -text
downloads/AsistenteVozIA-build14.apk filter=lfs diff=lfs merge=lfs -text
downloads/AsistenteVozIA-build16.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build22.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build23.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build24.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-latest.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build25.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build26.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build27.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build28.apk filter=lfs diff=lfs merge=lfs -text
downloads/asistente-voz-build29.apk filter=lfs diff=lfs merge=lfs -text
